/* IMPORTANT -- MOVE INTO INTERNAL CSS ONCE ALL DONE */
@import url('https://fonts.googleapis.com/css2?family=B612+Mono&family=Inconsolata&family=Alegreya+SC:wght@800&family=Nova+Mono&display=swap');

@font-face {
	font-family: "Nugelo Serif";
	src: url(nugeloserif.otf);
}

@font-face {
	font-family: "Albertus MT";
	src: url(AlbertusMT.otf);
}

@font-face {
	font-family: "Marcellus SC";
	src: url(MarcellusSC.ttf);
}

@font-face {
	font-family: "Cascadia Code";
	src: url(CascadiaCode.ttf);
}

@font-face {
	font-family: "Cascadia Code Italic";
	src: url(CascadiaCodeItalic.ttf);
}



header h1 {
	text-align: center;
	font-family: "Marcellus SC";
	font-size: 30px;
	text-shadow: 0.8px 0.8px 4px #303c37;
	margin-top: 10px;
	font-weight: normal;
	color: #96cdd4;
}

header p {
text-align: center;
font-family: "Albertus MT";
font-size: 16px;
color: #848F8F;
}

span#subtitle {
	color: #8BA1A9 !important;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow-x: hidden;
}

#logo {
	filter: drop-shadow(3px 3px 15px #2E3939);
	position: absolute;
	top:  10px;
	z-index: 10;
	display: none;
}

img.backdrop {
	position: absolute;
	z-index: -100;
	top: -50px;
	width: 100%;
	height: 100%;
	filter: blur(13px) brightness(60%) contrast(85%);
	background-color: black;
	padding: 30px;
	left: -20px;
}


footer {
	margin: 0;
	padding: 20px 30px 10px 30px;
	background-color: #191916;
	font-family: "B612 Mono";
	color: #B9B9A8;
	font-size: 12px;
	position: absolute;
	bottom: -10px;
}

.disclaimer {
	color: #B49584;
	font-style: italic;
}

h1 span {
position: absolute;
left: 41.5%;
top: 43px;
}

#templogo {
	position: absolute;
	width: 70px;
	image-rendering: pixelated;
	left: 36.5%;
	top: 13px;
	filter: drop-shadow(0.5px 0.5px 3px #364642);
}


div.nav {
font-family: Cascadia Code;
font-size: 18px;

color: #96A9A7;
cursor: pointer;
position: relative;
top: -30px;
}

div.nav > * { /* OMEGA WIP!! Replace with flexbox or something */
	position: absolute;
	transition: color 0.7s;
}

div.nav > *:hover {
color: #E0E5EC;
}

#essentials { 
	left: 7%;
}

#markup {
	left: 24%;
}

#sandbox {
	left: 70%;
}

#checkout {
	left: 85%;
}



#banner {
	position: absolute;
	left: 34.5%;
	top: 0;
	padding: 90px 170px 10px 160px;
	background-image: linear-gradient(to bottom, #DBFFF833, #B2FFEF33);
	border-radius: 0 0 15px 15px;
	z-index: -100;
}
/*

// Note:  way too many CSS bits to include all of them on HyperWares. Maybe do the most useful ones, then a hearty chunk of obscure ones;

PRODUCT SELECTION: CSS

======== Essentials ========
margin * (including top, left, right...)
padding *
color 
background *
position
transforms (width/height)
ID/Class selectors (*, .)
===========================


======== Typography ========
font-family
font-size
etc.

@font-face
** all text-related bits
======================



======== Object Manipulation ======
transform
float
opacity
overflow *
clip-path
filter
clamp()
================


========== UX ===========
cursor
user-select
z-index
border *
pointer-events
...
==================



======== Selectors ========
List selector (A, B)
Adjacent sibling (A + B)
General sibling (A ~ B)
Child combinator (A > B)
Descendant combinator (A B)
Column combinator (A || B)
Pseudo-classes/elements (:, ::)
===================
