/* IMPORTANT -- MOVE INTO INTERNAL CSS ONCE ALL DONE */
@import url('https://fonts.googleapis.com/css2?family=B612+Mono&family=Inconsolata&family=Alegreya+SC:wght@800&family=Nova+Mono&display=swap');


@font-face {
	font-family: "Albertus MT";
	src: url(AlbertusMT.otf);
}

@font-face {
	font-family: "Marcellus SC";
	src: url(MarcellusSC.ttf);
}

@font-face {
	font-family: "Cascadia Code";
	src: url(CascadiaCode.ttf);
}

@font-face {
	font-family: "Cascadia Code Italic";
	src: url(CascadiaCodeItalic.ttf);
}

@font-face {
	font-family: "Monaco";
	src: url(Monaco.ttf);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 500,
  'GRAD' 200,
  'opsz' 48
}


header h1 {
	text-align: center;
	font-family: "Marcellus SC";
	font-size: 30px;
	text-shadow: 0.8px 0.8px 4px #303c37;
	margin-top: 10px;
	font-weight: normal;
	color: #99D6CD;
}

header p {
	text-align: center;
	font-family: "Albertus MT";
	font-size: 16px;
	color: #848F8F;
}

span#subtitle {
	color: #8BA1A9 !important;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow-x: hidden;
}

#logo {
	filter: drop-shadow(3px 3px 15px #2E3939);
	position: absolute;
	top:  10px;
	z-index: 10;
	display: none;
}

img.backdrop {
	position: absolute;
	z-index: -100;
	top: -50px;
	width: 100%;
	height: 100%;
	filter: blur(13px) brightness(60%) contrast(85%);
	background-color: black;
	padding: 30px;
	left: -20px;
}


footer {
	margin: 0;
	padding: 20px 30px 10px 30px;
	background-color: #191916;
	font-family: "B612 Mono";
	color: #8C7F7D;
	font-size: 12px;
	position: absolute;
	bottom: -10px;
}

.disclaimer {
	color: #B49584;
	font-style: italic;
}

h1 span {
	position: absolute;
	left: 41.5%;
	top: 43px;
}

#templogo {
	position: absolute;
	width: 70px;
	image-rendering: pixelated;
	left: 36.5%;
	top: 13px;
	filter: drop-shadow(0.5px 0.5px 3px #364642);
}


div.nav > * {
	font-family: Cascadia Code;
	font-size: 18px;
	color: #96A9A7;
	cursor: pointer;
	top: 30px;
	position: absolute;
	transition: color 0.7s;
	text-decoration: none;
}


div.nav > *:hover {
	color: #D1D5E2;
}

.active {
	color: #D4FBFF !important;
}


#essentials { 
	left: 7%;
}

#markup {
	left: 24%;
}

#sandbox {
	left: 70%;
}

#checkout {
	left: 85%;
}


#promo-panel {
	position: absolute;
	background-image: linear-gradient(to top left, #FFFDDB30, #F9FFD825);
	border-radius: 25px 20px 25px 20px;
	z-index: -100;
	left: 6.4%;
	top: 30%;
	padding: 50px 300px 300px 200px;
}

#banner {
	position: absolute;
	left: 34.5%;
	top: 0;
	padding: 90px 170px 10px 160px;
	background-image: linear-gradient(to bottom, #DBFFF833, #B2FFEF33);
	border-radius: 0 0 15px 15px;
	z-index: -100;
}

div#promo-panel + h2 {
	position: absolute;
	font-family: Cascadia Code;
	font-size: 30px;
	font-variant: small-caps;
	color: #DFF9FF;
	left: 50%;
	top: 28%;
}

#promo-text {
	color: #A9B8C0;
	font-family: Inconsolata;
	font-size: 18px;
	position: absolute;
	top: 37%;
	margin-left: 50%;
	margin-right: 10%;
}

#promo-text > strong {
	padding: 4px 8px;
	border-radius: 7px;
	background-image: linear-gradient(to bottom, #56CFD363, #79C8CC53);
	color: #2A4750;
	transition: color 0.75s;

}

#promo-text > strong:hover {
	color:  #7AA9B0;
}

#promo-panel-text {
	font-family: Inconsolata;
	font-size: 13px;
	margin-left: 100px;
	margin-top: 140px;
	color: #121f21;
}

#promo-panel-text > * {
	transition: color 0.9s;
	user-select: none;
}


.checkoutButton {
	position: absolute;
	right: 210px;
	top: 90px;
	/*box-shadow:inset 0px 1px 3px 0px #91b8b3;*/
	cursor: pointer;
	border-radius: 15px;
	padding: 8px 30px;
	background-color: #9BBAB65E; /*linear-gradient(to bottom,#9BBAB65E, #8AB8B95E);*/
	font-size: 18px;
	transition: background-color 0.8s, transform 1s, color 0.8s, translate 0.2s;
	text-decoration: none;
	color: #3C494C;
}

.checkoutButton:hover {
	background-color: #ADFFFC4E; /*linear-gradient(to bottom, #748C8B5E, #6283855E);*/
	color: #40575D;
	transform: scaleX(103%) scaleY(101%) rotateZ(1.5deg);
}

.checkoutButton:active {
	background-color: #72ADAC4E;
	color: #2A393D;
	translate: 0 1px;
}


form {
	color: #CCFFE8;
	font-family: Gill Sans;
	position: relative;
	left: 30px;
	padding: 20px 30px;
	margin-right: 500px;
		background-image: linear-gradient(to top left, #FFFDDB30, #F9FFD825);
		border-radius: 25px;
}

form p.submitCaption {
	font-size: 12.5px;
	color: #7F9692;
	position: relative;
	top: -8px;

}

form .material-symbols-outlined {
	position: relative;
	top: 3px;
}

form em {
	font-style: normal;
	color: #CADFD4;
	font-size: 15px;
}

form hr { /* TEMP */
border: 0.5px solid #7A969D;
}

#color-picker-display {
	font-family: monospace;
	position: absolute;
	left: 108px;
	top: 838px;
	color: #CADFD4;
}

div.advert img {
	width: 200px;
	border-radius: 10px;

}
/* TODO: use some JS magic to condense this like in InternetTimeline */
/*
.promo1:hover { 
color: #558b4c;
}

.promo2:hover ~ .promo2Z, .promo2:hover {
	color: #5c8984;
}

.promo3:hover ~ .promo3Z, .promo3:hover {
	color: #7c79c7;
}

.promo4:hover {
	color:  #b6d3a6;
}

.promo5:hover {
	color:  #c09eb4;
}

.promo6:hover {
	color:  #7486c1;
}

.promo7:hover {
	color: #9f959b;
}
*/
.promo8 {
	color: #87bead /*#70c4a5*/;
}
/*
.promo9:hover ~ .promo9Z, .promo9:hover {
	color:  #ee924a;
}

.promo10:hover {
	color: #9ac0b5;
}

.promo11:hover {
	color: #bdb983;
}

.promo12:hover {
	color: #50e1ca;
}

.promo13:hover {
	color: #c39625;
}

.promo14:hover {
	color: #6cc6dd;
}

.promo15:hover {
	color: #6eb663;
}

.promo16:hover {
	color: #cda9c9;
}*/
















/*

// Note:  way too many CSS bits to include all of them on HyperWares. Maybe do the most useful ones, then a hearty chunk of obscure ones;

PRODUCT SELECTION: CSS

======== Essentials ========
margin * (including top, left, right...)
padding *
color 
background *
position
transforms (width/height)
ID/Class selectors (*, .)
===========================


======== Typography ========
font-family
font-size
etc.

@font-face
** all text-related bits
======================



======== Object Manipulation ======
transform
float
opacity
overflow *
clip-path
filter
clamp()
================


========== UX ===========
cursor
user-select
z-index
border *
pointer-events
...
==================



======== Selectors ========
List selector (A, B)
Adjacent sibling (A + B)
General sibling (A ~ B)
Child combinator (A > B)
Descendant combinator (A B)
Column combinator (A || B)
Pseudo-classes/elements (:, ::)
===================
