/* IMPORTANT -- MOVE INTO INTERNAL CSS ONCE ALL DONE */
@import url('https://fonts.googleapis.com/css2?family=B612+Mono&family=Inconsolata&family=Alegreya+SC:wght@800&family=Nova+Mono&display=swap');

@font-face {
	font-family: "Nugelo Serif";
	src: url(nugeloserif.otf);
}

@font-face {
	font-family: "Albertus MT";
	src: url(AlbertusMT.otf);
}

@font-face {
	font-family: "Marcellus SC";
	src: url(MarcellusSC.ttf);
}

@font-face {
	font-family: "Cascadia Code";
	src: url(CascadiaCode.ttf);
}

@font-face {
	font-family: "Cascadia Code Italic";
	src: url(CascadiaCodeItalic.ttf);
}



header h1 {
	text-align: center;
	font-family: "Marcellus SC";
	font-size: 30px;
	text-shadow: 0.5px 0.5px 1px #3C3731;
	margin-top: 10px;
	font-weight: normal;
	color: #D4E3E4;
}

header p {
text-align: center;
font-family: "Albertus MT";
font-size: 16px;
color: #848F8F;
}

span#subtitle {
	color: #8BA1A9 !important;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow-x: hidden;
}

#logo {
	filter: drop-shadow(3px 3px 15px #2E3939);
	position: absolute;
	top:  10px;
	z-index: 10;

}

img.backdrop {
	position: absolute;
	z-index: -100;
	top: -50px;
	width: 100%;
	height: 100%;
	filter: blur(13px) brightness(60%) contrast(85%);
	background-color: black;
	padding: 30px;
	left: -20px;
}


footer {
	margin: 0;
	padding: 20px 30px 10px 30px;
	background-color: #191916;
	font-family: "B612 Mono";
	color: #B9B9A8;
	font-size: 12px;
	position: absolute;
	bottom: -10px;
}

.disclaimer {
	color: #B49584;
	font-style: italic;
}
